@{
    ViewData["Title"] = "Sobre Nós";
}

@{
    Layout = "_StoreLayout";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center text-warning mb-3">@ViewData["Title"]</h3>
            <p class="text-center text-light">
                Este projeto foi desenvolvido como parte do curso de Análise e Desenvolvimento de Sistemas do UniSena - RS,
                na disciplina de Frameworks para Desenvolvimento Web 1, sob orientação do professor Romulo Reis.
            </p>
            <p class="text-center text-light">
                O objetivo principal do projeto é aplicar os conhecimentos adquiridos na disciplina, utilizando as ferramentas
                e tecnologias mais modernas para o desenvolvimento web.
            </p>
        </div>
    </div>

    <div class="row mt-5 bg-dark text-light rounded shadow-lg py-4">
        <div class="col-md-6 text-center">
            <h4 class="text-warning">Raul Silveira</h4>
            <p class="text-light">Auxiliar de Desenvolvimento de Sistemas na Sul Engenharia de Sistemas</p>
            <img src="https://media.licdn.com/dms/image/v2/D4D03AQHfs3tQ-hGcjw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1731377919896?e=1739404800&v=beta&t=Sh2BGQdDxAkuQdukrSe62irvrQdXMgyQd65rZlHPuF4"
                 alt="Raul Silveira" class="rounded-circle shadow" style="max-width: 180px; border: 3px solid #FFA500;" />
            <p class="mt-3">
                Raul é um profissional com experiência na área de desenvolvimento de sistemas, atuando como Auxiliar de Desenvolvimento de Sistemas na Sul Engenharia de Sistemas.
            </p>
        </div>

        <div class="col-md-6 text-center">
            <h4 class="text-warning">Alexandre Costa</h4>
            <p class="text-light">Estagiário de Back-end na DWU IT Solutions</p>
            <img src="https://media.licdn.com/dms/image/v2/D4D35AQGdlmhMyyNTbQ/profile-framedphoto-shrink_800_800/profile-framedphoto-shrink_800_800/0/1720455840280?e=1734375600&v=beta&t=ow-NR9FeysLacFfWcUn6tn4CPtWyR4F3xa1tz-DhVCU"
                 alt="Alexandre Costa" class="rounded-circle shadow" style="max-width: 180px; border: 3px solid #FFA500;" />
            <p class="mt-3">
                Alexandre é estagiário de back-end, trazendo um olhar focado em soluções técnicas e práticas de desenvolvimento na DWU IT Solutions.
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h5 class="text-center text-warning">Objetivo do Projeto</h5>
            <p class="text-center text-light">
                O projeto tem como principal objetivo aprimorar as habilidades práticas dos alunos na utilização de frameworks de desenvolvimento web,
                através de um projeto real que simula situações e desafios comuns no mercado de trabalho.
            </p>
        </div>
    </div>
</div>
