@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    Layout = "_StoreLayout";
}



<div class="text-center mt-5">
    <h1 class="display-4 fade-in">
        LVL-UP Store,
    </h1>
    <p class="fade-in fs-4">
        a sua loja definitiva para games épicos e aventuras inesquecíveis!
    </p>
    <p class="fade-in fs-6">
        Descubra promoções incríveis, novidades imperdíveis e jogos que vão elevar o seu nível de diversão. 🚀🎮
    </p>
</div>
