@{
    ViewData["Title"] = "Política de Privacidade";
    Layout = "_StoreLayout";
}


<div class="text-center">
    <img src="~/privacy_policy.png" alt="Política de Privacidade" class="img-fluid" style="width: 45%; max-width: 1200px;" />
</div>

<h1 class="fade-in" style="color: orange;">@ViewData["Title"]</h1>

<p class="fade-in" style="color: white;">Na LvlUp, sua privacidade é nossa prioridade. Esta política explica como coletamos, usamos e protegemos suas informações enquanto você compra em nossa loja de jogos.</p>

<h2 class="fade-in" style="color: orange;">Informações Coletadas</h2>
<p class="fade-in" style="color: white;">Coletamos informações como nome, e-mail, endereço, número de telefone e detalhes de pagamento para processar seus pedidos e melhorar sua experiência de compra.</p>

<h2 class="fade-in" style="color: orange;">Uso das Informações</h2>
<p class="fade-in" style="color: white;">Usamos suas informações para processar compras, oferecer recomendações de jogos, enviar promoções e garantir um ótimo atendimento ao cliente.</p>

<h2 class="fade-in" style="color: orange;">Segurança dos Dados</h2>
<p class="fade-in" style="color: white;">Tomamos medidas de segurança para proteger seus dados, mas lembre-se de que nenhum sistema é 100% seguro.</p>

<h2 class="fade-in" style="color: orange;">Seus Direitos</h2>
<p class="fade-in" style="color: white;">Você pode acessar, corrigir ou excluir seus dados a qualquer momento. Para mais informações, entre em contato conosco.</p>

<h2 class="fade-in" style="color: orange;">Cookies</h2>
<p class="fade-in" style="color: white;">Usamos cookies para melhorar sua navegação. Você pode desativá-los nas configurações do seu navegador, mas isso pode afetar algumas funcionalidades do site.</p>

<h2 class="fade-in" style="color: orange;">Contato</h2>
<p class="fade-in" style="color: white;">Se tiver dúvidas, entre em contato conosco:</p>
<ul class="fade-in" style="color: white;">
    <li><strong>E-mail:</strong> <a href="mailto:suporte@lvlup.com" style="color: white;">suporte@lvlup.com</a></li>
    <li><strong>Telefone:</strong> +47 99235 1724</li>
    <li><strong>Endereço:</strong> Rua Guilherme Gemballa, 260, Rio do Sul, SC, Brasil</li>
</ul>

<p class="fade-in" style="color: white;">Última atualização: Novembro de 2024</p>
