
@{
    int x = 4 + 5;
    ViewData["Resultado"] = x;
}

<div class="text-center mt-5">
    <h1 class="display-4 fade-in">
        ControlQuest.
    </h1>
    <p class="fade-in fs-4">
        
        Bem vindo ao ControlQuest, o painel administrativo da LVL-UP Store.
    </p>
    <p class="fade-in fs-6">
        Crie, edite, delete ou visualize as entidades através da Navbar. Basta um clique na entidade que você quer, e nosso painel lhe redirecionará.
        
    </p>
</div>
