@{
    ViewData["Title"] = "Acesso Negado";
}

<div style="text-align: center; margin-top: 50px;">
    <h1 style="color: red;">Acesso Negado</h1>
    <p>Você não tem permissão para acessar este recurso.</p>
    <img src="~/acess-denied.png" alt="Acesso Negado" style="width: 250px; display: block; margin: 0 auto;" />
    <a href="/" class="btn btn-primary" style="display: block; margin-top: 20px; width: 200px; margin-left: auto; margin-right: auto;">Voltar para a Home</a>
</div>
