body {
    font-family: barlow,arial,sans-serif !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #323232;
    color: white
}

.footer {
    margin-top: auto;
}

.navbar {
    height: 100px;
    background-color: black !important;
}

a {
    color: gray !important;
}

.thead{
    background-color: black;
    color: #FFA500
}

.navbar-brand img {
    max-height: 200px !important;
    width: auto !important;
    object-fit: contain;
    height: 100%;
}

footer {
    background-color: black !important;
}

