@model UltraStore.Models.Platforms

@{
    ViewData["Title"] = "Delete Platform";
}

<h1>Delete Platform</h1>

<h4>Are you sure you want to delete this platform?</h4>
<hr />
<div>
    <strong>Name:</strong> @Model.Name
    <br />
    <strong>Manufacture:</strong> @Model.Manufacturer
</div>
<br />

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
</form>
