@model UltraStore.Models.Platforms

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Platforms</h4>
    <hr />
    <dl class="row">
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
    </dl>
</div>
<br />

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a> |
    <a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
</div>
